*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}    


   
.jaime{
    margin-top: 90px;
   position: fixed;
    
    
}

body{
    height: 100vh;
    background-color: rgb(224, 149, 9);
}

h2{
    font-size: 100px;
     
   }

#btnplus{
        width: 90px;
        height: 90px;
        
       
     
}

#btnmoins{
    width: 90px;  
    height: 90px;
   
  
   
}

i{
    font-size: 90px;
    
}

img{
    width: 600px;
    height: 400px;
    position:absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50px, -50px);
    margin-top: 90px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    padding: 25px;
}

